Repository qtranslate/qtranslate-xt, pull requests merged in 2022-06, with the labels that each got.

#1182 Replace slugs `qts_page_request` cache with transient
  modules/slugs/src/slugs-class-slugs.php
Labels: module: slugs

#1187 Rename module classes with `QTX_Module` prefix
  modules/acf/acf.php
  modules/acf/src/acf_5/acf.php
  modules/acf/src/acf_5/fields/file.php
  modules/acf/src/acf_5/fields/image.php
  modules/acf/src/acf_5/fields/post_object.php
  modules/acf/src/acf_5/fields/text.php
  modules/acf/src/acf_5/fields/textarea.php
  modules/acf/src/acf_5/fields/url.php
  modules/acf/src/acf_5/fields/wysiwyg.php
  modules/acf/src/acf_interface.php
  modules/acf/src/plugin.php
  modules/gravity-forms/gravity-forms.php
  modules/jetpack/jetpack.php
  modules/slugs/qtx_module_slugs.php
  modules/slugs/slugs.php
Labels: modules

#1191 Refactor ACF module structure
  modules/acf/acf.php
  modules/acf/src/acf_5/acf.php
  modules/acf/src/acf_interface.php
  modules/acf/src/fields/file.php
  modules/acf/src/fields/image.php
  modules/acf/src/fields/post_object.php
  modules/acf/src/fields/text.php
  modules/acf/src/fields/textarea.php
  modules/acf/src/fields/url.php
  modules/acf/src/fields/wysiwyg.php
  modules/acf/src/qtx_module_acf_admin.php
  modules/acf/src/qtx_module_acf_register.php
Labels: plugin: ACF

#1192 Don't show slug metabox on woo shop_orders and shop_coupon pages
  modules/slugs/admin/slugs-admin.php
Labels: plugin: WC

#1194 fix unintended translations in webhooks
  modules/woo-commerce/qwc-admin.php
  modules/woo-commerce/qwc-front.php
  modules/woo-commerce/woo-commerce.php
Labels: plugin: WC
