Repository qtranslate/qtranslate-xt, pull requests merged in 2022-05, with the labels that each got.

#1155 fix typo in slugs README
  modules/slugs/README.md
Labels: module: slugs

#1158 Harmonize module options
  admin/qtx_activation_hook.php
  admin/qtx_admin_options.php
  admin/qtx_admin_options_update.php
  modules/acf/src/plugin.php
  modules/qtx_admin_module_manager.php
  modules/qtx_admin_module_settings.php
  modules/qtx_module_loader.php
  modules/slugs/includes/class-qtranslate-slug.php
  modules/slugs/includes/qtranslate-slug-admin.php
  modules/slugs/includes/qtranslate-slug-settings.php
  modules/slugs/slugs.php
  qtranslate_options.php
Labels: modules

#1157 QTS: fix to handle esc_sql() 4.8.3 breaking change
  modules/slugs/includes/class-qtranslate-slug.php
Labels: module: slugs

#1160 QTS: fix query var handling, utf8 bases support
  modules/slugs/README.md
  modules/slugs/includes/class-qtranslate-slug.php
Labels: module: slugs

#1161 WC: fix attribute edit page hidden fields
  modules/slugs/includes/qtranslate-slug-admin.php
  modules/woo-commerce/qwc-admin.php
Labels: plugin: WC

#1163 Improve slugs layout with flags
  admin/css/qtranslate_configuration.css
  modules/slugs/includes/qtranslate-slug-admin.php
  modules/slugs/includes/qtranslate-slug-settings.php
Labels: module: slugs

#1088 Remove `hreflang` from `a` tag in widget
  qtranslate_widget.php
Labels: core

#1165 Align translation files to current sources, complete italian translation.
  lang/qtranslate-ar.mo
  lang/qtranslate-ar.po
  lang/qtranslate-az_AZ.mo
  lang/qtranslate-az_AZ.po
  lang/qtranslate-bg_BG.mo
  lang/qtranslate-bg_BG.po
  lang/qtranslate-bn.mo
  lang/qtranslate-bn.po
  lang/qtranslate-ca.mo
  lang/qtranslate-ca.po
  lang/qtranslate-cs_CZ.mo
  lang/qtranslate-cs_CZ.po
  lang/qtranslate-da_DK.po
  lang/qtranslate-de_DE.mo
  lang/qtranslate-de_DE.po
  lang/qtranslate-el.mo
  lang/qtranslate-el.po
  lang/qtranslate-eo.mo
  lang/qtranslate-eo.po
  lang/qtranslate-es_ES.po
  lang/qtranslate-fr_FR.mo
  lang/qtranslate-fr_FR.po
  lang/qtranslate-hr.mo
  lang/qtranslate-hr.po
  lang/qtranslate-hu_HU.mo
  lang/qtranslate-hu_HU.po
  lang/qtranslate-id_ID.po
  lang/qtranslate-it_IT.mo
  lang/qtranslate-it_IT.po
  lang/qtranslate-ja.mo
  lang/qtranslate-ja.po
  lang/qtranslate-mk_MK.mo
  lang/qtranslate-mk_MK.po
  lang/qtranslate-ms_MY.mo
  lang/qtranslate-ms_MY.po
  lang/qtranslate-nl_NL.mo
  lang/qtranslate-nl_NL.po
  lang/qtranslate-nl_NL_formal.mo
  lang/qtranslate-nl_NL_formal.po
  lang/qtranslate-pl_PL.po
  lang/qtranslate-pt_BR.mo
  lang/qtranslate-pt_BR.po
  lang/qtranslate-pt_PT.mo
  lang/qtranslate-pt_PT.po
  lang/qtranslate-ro_RO.mo
  lang/qtranslate-ro_RO.po
  lang/qtranslate-ru_RU.mo
  lang/qtranslate-ru_RU.po
  lang/qtranslate-sl_SI.mo
  lang/qtranslate-sl_SI.po
  lang/qtranslate-sr_RS.mo
  lang/qtranslate-sr_RS.po
  lang/qtranslate-sv_SE.mo
  lang/qtranslate-sv_SE.po
  lang/qtranslate-tr_TR.mo
  lang/qtranslate-tr_TR.po
  lang/qtranslate-zh_CN.mo
  lang/qtranslate-zh_CN.po
  lang/qtranslate.pot
Labels: l10n

#1168 QTS: fix conflict pages/posts in filter_request
  modules/slugs/includes/class-qtranslate-slug.php
Labels: module: slugs

#1172 QTS: fix many PHPStorm warnings
  modules/slugs/includes/class-qtranslate-slug.php
  modules/slugs/includes/qtranslate-slug-admin.php
  modules/slugs/includes/qtranslate-slug-settings.php
Labels: module: slugs

#1176 Remove internal QTS filter hooks
  modules/slugs/admin/slugs-admin.php
  modules/slugs/src/slugs-class-slugs.php
Labels: module: slugs

#1171 Import QTS slugs options and meta data into QTX
  admin/qtx_activation_hook.php
  admin/qtx_admin_options_update.php
  admin/qtx_import_export.php
  modules/slugs/admin/slugs-admin.php
  modules/slugs/admin/slugs-migrate-qts.php
  modules/slugs/admin/slugs-settings.php
  modules/slugs/slugs.php
  modules/slugs/src/slugs-class-slugs.php
Labels: module: slugs

#1177 Generalize double checkboxes in QTX options
  admin/js/options.js
  admin/qtx_admin_options_update.php
  admin/qtx_import_export.php
  dist/options.js
  qtranslate.php
Labels: core
