Repository qtranslate/qtranslate-xt, pull requests merged in 2022-03, with the labels that each got.

#1115 QTS: Incorporated settings in qtranslate and cleanup
  admin/qtx_admin_settings.php
  modules/slugs/assets/css/qts-settings.css
  modules/slugs/assets/js/qts-settings.js
  modules/slugs/includes/class-qtranslate-slug.php
  modules/slugs/includes/qtranslate-slug-settings-options.php
  modules/slugs/includes/qtranslate-slug-settings.php
  modules/slugs/slugs.php
Labels: module: slugs

#1111 QTS: added deactivation handling, removed widget, cleanup
  modules/slugs/README.md
  modules/slugs/includes/class-qtranslate-slug-widget.php
  modules/slugs/includes/class-qtranslate-slug.php
  modules/slugs/slugs.php
  qtranslate_core.php
Labels: module: slugs

#1122 QTS: install function rewritten without using $wpdb
  modules/slugs/includes/class-qtranslate-slug.php
Labels: module: slugs

#1125 QTS: fixed hide slug field in post quickedit not working
  modules/slugs/includes/class-qtranslate-slug.php
Labels: module: slugs

#1121 QTS: rationalize get post_types/taxonomies functions and calls
  modules/slugs/includes/class-qtranslate-slug.php
  modules/slugs/includes/qtranslate-slug-settings-options.php
  modules/slugs/includes/qtranslate-slug-settings.php
Labels: module: slugs

#1124 QTS: fixed/improved slug admin metabox handling and extended function…
  modules/slugs/includes/class-qtranslate-slug.php
Labels: module: slugs

#1126 QTS: revision and cleanup of add/edit terms slugs input code
  modules/slugs/includes/class-qtranslate-slug.php
Labels: module: slugs

#1117 QTS: replaced call to qts_get_url with new filter in qtranxf_convertURL
  modules/slugs/slugs.php
  qtranslate_core.php
Labels: core, module: slugs

#1130 QTS: removed redundant language info funcs/vars and use q_config instead
  modules/slugs/includes/class-qtranslate-slug.php
Labels: module: slugs

#1139 ACF: simplify module init
  modules/acf/src/plugin.php
  modules/acf/src/qtranslatex.php
Labels: plugin: ACF

#1112 short circuit "QTX_Admin_Gutenberg"
  admin/qtx_admin_gutenberg.php
Labels: enhancement, core, gutenberg

#1143 WC: fixed product attributes labels translations
  modules/woo-commerce/qwc-admin.php
Labels: plugin: WC
