Repository qtranslate/qtranslate-xt, pull requests merged in 2022-04, with the labels that each got.

#1144 WC: fixed untranslated options in product variations
  modules/woo-commerce/qwc-admin.php
Labels: plugin: WC

#1146 Mods: display settings tabs from state
  admin/qtx_admin_settings.php
  modules/qtx_modules_handler.php
  qtranslate_core.php
Labels: plugin: others, core

#1147 Mods: generalize manual activation
  admin/qtx_admin_modules.php
  admin/qtx_admin_options_update.php
  admin/qtx_admin_settings.php
  modules/qtx_modules_handler.php
  qtranslate_core.php
Labels: core

#1142 QTS/WC: added slug fields to custom post type attributes pages
  modules/qtx_modules_handler.php
  modules/slugs/includes/qtranslate-slug-admin.php
Labels: plugin: WC

#1151 Refactor bool-array setting to `QTX_BOOLEAN_SET`
  admin/qtx_admin_options_update.php
Labels: core

#1150 Refactor module activation handler and options
  admin/qtx_activation_hook.php
  admin/qtx_admin_modules.php
  admin/qtx_admin_options.php
  admin/qtx_admin_options_update.php
  admin/qtx_admin_settings.php
  modules/qtx_modules_handler.php
  modules/slugs/includes/class-qtranslate-slug.php
  modules/slugs/includes/qtranslate-slug-admin.php
  qtranslate_core.php
  qtranslate_options.php
Labels: core, modules

#1153 Refactor module classes
  admin/qtx_activation_hook.php
  admin/qtx_admin_modules.php
  admin/qtx_admin_options.php
  admin/qtx_admin_options_update.php
  admin/qtx_admin_settings.php
  modules/README.md
  modules/qtx_admin_module.php
  modules/qtx_admin_module_manager.php
  modules/qtx_admin_module_settings.php
  modules/qtx_module_loader.php
  modules/qtx_module_state.php
  modules/qtx_modules_handler.php
  modules/slugs/includes/class-qtranslate-slug.php
  modules/slugs/includes/qtranslate-slug-admin.php
  qtranslate_core.php
Labels: modules

#1154 Integrate ACF settings in modules tab
  modules/acf/src/plugin.php
  modules/qtx_admin_module.php
Labels: plugin: ACF, modules
