Repository qtranslate/qtranslate-xt, pull requests merged in 2022-09, with the labels that each got.

#1216 Fix MySQL error #1206
  modules/slugs/admin/slugs-migrate-qts.php
Labels: module: slugs

#1217 Escape `_` in SQL LIKE queries for Slugs import
  modules/slugs/admin/slugs-migrate-qts.php
Labels: module: slugs

#1219 Update wp-seo-front.php
  modules/wp-seo/wp-seo-front.php
Labels: plugin: yoast

#1228 Replace `strftime` with `IntlDateFormatter` for PHP8.1
  qtranslate_date_time.php
Labels: core
