Repository qtranslate/qtranslate-xt, pull requests merged in 2022-02, with the labels that each got.

#1060 Raw merge of qtranslate-slug 1.1.8 as qtranslate-xt module
  admin/qtx_admin_modules.php
  admin/qtx_admin_settings.php
  modules/qtx_modules_handler.php
  modules/slugs/assets/css/qts-default.css
  modules/slugs/assets/css/qts-default.min.css
  modules/slugs/assets/css/qts-settings.css
  modules/slugs/assets/js/qts-nav-menu-min.js
  modules/slugs/assets/js/qts-nav-menu.js
  modules/slugs/assets/js/qts-settings-upgrade.js
  modules/slugs/assets/js/qts-settings.js
  modules/slugs/includes/class-qtranslate-slug-widget.php
  modules/slugs/includes/class-qtranslate-slug.php
  modules/slugs/includes/qtranslate-slug-settings-options.php
  modules/slugs/includes/qtranslate-slug-settings.php
  modules/slugs/includes/termmeta-core.php
  modules/slugs/languages/qts-es_ES.mo
  modules/slugs/languages/qts-es_ES.po
  modules/slugs/languages/qts-pt_PT.mo
  modules/slugs/languages/qts-pt_PT.po
  modules/slugs/languages/qts.pot
  modules/slugs/readme.txt
  modules/slugs/slugs.php
  modules/slugs/version.txt
  qtranslate_core.php
  qtranslate_options.php
Labels: enhancement, plugin: others, core

#1102 QTS: Use $post object instead of $_POST array
  modules/slugs/includes/class-qtranslate-slug.php
Labels: module: slugs

#1113 qts: removed obsolete migration functions and unneeded frontend styling functions/css
  modules/slugs/assets/css/qts-default.css
  modules/slugs/assets/css/qts-default.min.css
  modules/slugs/assets/js/qts-settings-upgrade.js
  modules/slugs/includes/class-qtranslate-slug.php
  modules/slugs/includes/qtranslate-slug-settings-options.php
  modules/slugs/includes/qtranslate-slug-settings.php
Labels: module: slugs

#1114 fix "Headers already sent" error in PHP
  qtranslate_core.php
Labels: core
