Repository qtranslate/qtranslate-xt, pull requests merged in 2022-08, with the labels that each got.

#1209 QTS: replace slugs metabox only if existing
  modules/slugs/admin/slugs-admin.php
Labels: module: slugs

#1211 Add function to check if a request is a GraphQL call.
  qtranslate_core.php
  qtranslate_utils.php
Labels: core

#1210 Add default for qtranslate_admin_block_editor filter
  admin/qtx_admin_gutenberg.php
Labels: gutenberg
